/*On appele donc le CSS commun à toute nos pages pour éviter d'avoir un CSS trop lourd sur chacune de nos pages*/
@import url("global.css");

body{
  background-color : rgb(18,29,135);
}

.fleches{
  width : 5%;
}

#formulaire{
	background-color : black;
}