body{
  background-color: rgb(169,169,169);
  background-repeat: no-repeat;
  color: black;
  text-align: justify;
  font-family: "Ebrima";
  font-size: 150%
}

h1{
  font-family: "Shut'Em Down";
  text-align: center;
  font-size: 50px;
  width: 75%;
}

h2{
  font-family: "Shut'Em Down";
  font-size: 20px;
}

#logo{
  position: fixed;
  top: 1%;
  right: 1%;
  width: 20%;
  border: solid black 1px;
  border-radius: 10px;
}

#navigation{
  width: 75%;
}

#navigation > li{
  display: inline-block;
  border: solid ;
  text-align: center;
  color : rgb(105,105,105);
  border-radius: 5px;
}

#navigation >li:before{
  content: url("../Images/index/puce_liste.png");
}

#banner{
  position: relative;
  text-align: center;
}

#banner>a>img[alt=banner]{
  border: solid;
  border-radius: 50%;
}

#connexion{
  position: fixed;
  top: 35%;
  right: 1%;
  border: solid 2px;
  border-radius: 5%;
  text-align: center;
}

#connexion>input{
  text-align: center;
}


div[id="principal"]{
  width: 75%;
}

.fleches{
  width : 5%;
}

a{
  color: lightgrey;
}

a:visited{
  color: white;
}

a:hover{
  color: black;
}

h1>a{
  color: black;
}

#formulaire{
  background-color: white;
}

input:focus{
  color:white;
  background-color: black;
}