/*On appele donc le CSS commun à toute nos pages pour éviter d'avoir un CSS trop lourd sur chacune de nos pages*/
@import url("global.css");

acronym{
  border: none;
}

body{
  position: absolute;
}

a:hover{
  color: red;
}

#connexion{
  position: absolute;
  top: 0%;
  left: 1%;
  border: solid 2px;
  border-radius: 5%;
  text-align: center;
}

#connexion>input{
  text-align: center;
}